input, button {
  background-color: var(--accent-color-secondary);
  border: thin solid var(--accent-color-tertiary);
  color: var(--font-color);
  padding: 0.25em 1em;
  margin-right: 0.25em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.flatpickr-mobile{
  -webkit-appearance: button;
  max-width: 13em;
  padding: 0.25em;
}

#timetravel{
  max-width: 12em;
}
#timetravelClear{
  max-width: 1em;
}
#graphDateRange{
  max-width: 17.5em;
}

button:hover{
  cursor: pointer;
  background-color: var(--accent-color-tertiary);
}

.flatpickr-current-month .flatpickr-monthDropdown-months{
  background: var(--background-color);
  -webkit-appearance: list-button;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month{
  fill: var(--font-color);
}

.flatpickr-months .flatpickr-month{
  color: var(--font-color);
}
.flatpickr-calendar{
  background: var(--background-color);
}
span.flatpickr-weekday{
  color: var(--font-color);
}
.flatpickr-day{
  color: var(--font-color);
}
.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus{
  background: var(--accent-color-tertiary);
  border-color: transparent;
  border-left-color: transparent !important;
}
span.flatpickr-day.startRange, span.flatpickr-day.prevMonthDay.startRange, span.flatpickr-day.nextMonthDay.startRange, span.flatpickr-day.endRange, span.flatpickr-day.prevMonthDay.endRange, span.flatpickr-day.nextMonthDay.endRange{
  border-color: transparent;
}
.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay{
  color: var(--font-color-secondary);
}
.flatpickr-day.inRange{
  -webkit-box-shadow: none;
  box-shadow: none;
}